[Unit]
Description=Steamlink
After=graphical.target
Conflicts=mediacenter.service

[Service]
Type=idle
User=steamlink
ExecStart=/bin/sh -c "exec bash ${HOME}/.local/share/SteamLink/steamlink.sh"

[Install]
WantedBy=steamlink.target
